@using Customers.Entities;
@using System.Globalization;
@model CustomerInvoiceViewModel

@{
    ViewData["Title"] = $"Invoices for \"{Model.Customer.Name}\"";
    double? total = 0.00;

}

<div class="row justify-content-between">
    <div class="col-7">
        <p class="lead">@ViewData["Title"]</p>
        <p>Address: @Model.Customer.Address1 @Model.Customer.Address2</p>
        <table class="table table-bordered table-striped caption-top">
            <caption>Invoices</caption>
            <thead>
                <tr>
                    <th>Invoice #</th>
                    <th>Due date</th>
                    <th>Amount paid</th>
                </tr>
            </thead>
                <tbody>
                @if (Model.Customer.Invoices != null && Model.Customer.Invoices.Any())
                {
                    @foreach (var invoice in Model.Customer.Invoices)
                    {
                        string selectedInvoice = (@Model.SelectedInvoice.InvoiceId == invoice.InvoiceId) ? "bg-info" : "";

                        <tr class="@selectedInvoice">
                            <td><a asp-controller="Customer" asp-action="Invoices" asp-route-customerId="@Model.Customer.CustomerId" asp-route-invoiceId="@invoice.InvoiceId">@invoice.InvoiceId</a></td>
                            <td>@invoice.InvoiceDueDate</td>
                            <td>@invoice.PaymentTotal</td>
                        </tr>
                    }
                }
                </tbody>
        </table>
        <form asp-controller="Customer" asp-action="AddInvoice" method="post" asp-route-customerId="@Model.Customer.CustomerId" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NewInvoice.InvoiceDate">Date</label>
                <input asp-for="@Model.NewInvoice.InvoiceDate" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewInvoice.PaymentTermsId">Terms</label>
                <select asp-for="@Model.NewInvoice.PaymentTermsId" type="text" class="form-control">
                    <option value="">Select a term...</option>
                    @if(Model != null && Model.PaymentTermsList != null)
                    {
                        foreach (PaymentTerms pt in Model.PaymentTermsList)
                        {
                            <option value="@pt.PaymentTermsId">@pt.Description</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" asp-for="@Model.NewInvoice.InvoiceId" />
            <button type="submit" class="btn btn-primary mt-3">Add Invoice</button>
        </form>
    </div>


    <div class="col-4">
        <a asp-controller="Customer" asp-action="Customers">Return to A-E Customers</a>
        @if (Model.Customer.Invoices != null && Model.Customer.Invoices.Any())
        {
            <p>
            Terms: @Model.SelectedInvoice.PaymentTerms.DueDays days
        </p>
        <table class="table table-bordered table-striped caption-top">
            <caption>Line items for invoices # @Model.SelectedInvoice.InvoiceId</caption>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Due Amount</th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var item in Model.SelectedInvoice.InvoiceLineItems)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@String.Format("{0:C}", Convert.ToInt32(item.Amount))</td>
                        </tr>
                    }
                </tbody>
        </table>
        @foreach (var item in Model.SelectedInvoice.InvoiceLineItems)
        {
            total += item.Amount;
        }
        <p>Total: @String.Format("{0:C}", Convert.ToInt32(total))</p>

        <form asp-controller="Customer" asp-action="AddLineItem" method="post" asp-route-customerId="@Model.Customer.CustomerId" asp-route-invoiceId="@Model.SelectedInvoice.InvoiceId">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NewInvoiceLineItem.Description">Description</label>
                <input asp-for="@Model.NewInvoiceLineItem.Description" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewInvoiceLineItem.Amount">Amount</label>
                <input asp-for="@Model.NewInvoiceLineItem.Amount" type="text" class="form-control" />
            </div>
            <input type="hidden" asp-for="@Model.NewInvoiceLineItem.InvoiceLineItemId" />
            <button type="submit" class="btn btn-primary mt-3">Add Line item</button>
        </form>
        }
        
    </div>
</div>